<% @title = "Feed Management" %>
<p>Feed management has not been implemented for i45. It will be implemented for i46.
For now, ask kalleth if you want the feeds changed during the event.</p>
<p>To anyone who has access to the jail viewr runs on, feeds are currently pulled from /data/mpuk/settings.yml. Be very careful when changing this file; it is hot reloaded by the daemon if it changes, and a syntax error in it will cause the daemon to crash.</p>
