<div class="row">
  <div class="span4">
    <div class="well">
      <p>Current clients connected:</p>
      <h2><%= clients_connected %></h2>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <p>Twitter API Polls remaining:</p>
      <h2><%= twitter_api_polls_remaining %></h2>
    </div>
  </div>
</div>
