<script id="template-message" type="text/html">
  <li class="message">
    <div class="icon" title=""></div>
    <p class="title"><a class="message-link" href=""></a></p>
    <p class="time"></p>
    <p class="body"></p>
  </li>
</script>
