<% @title = "Viewr" %>
<div class="page-header">
  <h2>What is Viewr?</h2>
</div>
<p>Viewr is an information aggregator pulling together multiple different
information sources on one display, so that punters at i45 get a proper overview
of what is going on at any time.</p>
<p>Viewr aggregates the following feeds:</p>
<ul>
  <li>Various twitter feeds to be enumerated from the database.</li>
  <li>Multiplay '@<a href="http://twitter.com/iseries">iseries</a>' twitter feed</li>
  <li>@<a href="http://twitter.com/MPLAY_Wizzo">MPLAY_Wizzo</a> twitter feed</li>
  <li>Multiplay insomnia45 forum 'latest posts'</li>
  <li>Multiplay <a href="http://iseries.multiplay.co.uk">iseries</a> website 'i45' category news posts</li>
  <li>System updates provided through this application.</li>
  <li><span class="label label-warning">coming soon</span> Tournament Results via Clanforge</li>
  <li><span class="label label-warning">coming soon</span> Your Upcoming Matches via Clanforge</li>
  <li><span class="label label-warning">coming soon</span> Stage Schedule</li>
  <li><span class="label label-warning">coming soon</span> Global Broadcasts for Everyone!</li>
</ul>
<hr />
<div class="row">
  <div class="span11" style="text-align: center;">
    <a href="#" id="show_popup" class="btn btn-large btn-primary"> &nbsp; &nbsp; Launch Viewr! &nbsp; &nbsp; </a>
  </div>
</div>
